.best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    padding: 20px;
    background-color: #ffffff;
}

.best-sellers h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.best-sellers hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.best-sellers-item {
    margin: 50px 20px;
    display: flex;
    gap: 20px;
}

@media(max-width:1280px) {
    .best-sellers {
        height: 70vh;
    }

    .best-sellers h1 {
        font-size: 40px;
    }

    .best-sellers hr {
        width: 160px;
        height: 4px;
    }

    .best-sellers-item {
        gap: 20px;
        margin-top: 30px;
    }
}

@media(max-width:1024px) {
    .best-sellers {
        height: 60vh;
    }

    .best-sellers h1 {
        font-size: 30px;
    }

    .best-sellers hr {
        width: 120px;
        height: 3px;
    }

    .best-sellers-item {
        gap: 15px;
        margin-top: 20px;
    }
}

@media(max-width:800px) {
    .best-sellers {
        height: 50vh;
        gap: 6px;
    }

    .best-sellers h1 {
        font-size: 20px;
    }

    .best-sellers hr {
        width: 100px;
    }

    .best-sellers-item {
        gap: 5px;
    }
}

@media(max-width:500px) {
    .best-sellers {
        height: 90vh;
    }

    .best-sellers-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
