/* DescriptionBox.css */
.description-box {
    margin: 20px;
}

.description-box-navigator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.description-box-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.description-box-nav-box.fade {
    background: #FBFBFB;
    color: #555;
}

.description-box-nav-box.active {
    background-color: #ccc;
}

.description-box-description {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:1280px) {
    .description-box {
        margin: 20px;
    }

    .description-box-nav-box {
        width: auto;
        padding: 10px 20px;
    }

    .description-box-description {
        font-size: 14px;
    }
}

@media(max-width:800px) {
    .description-box {
        margin: 20px;
    }

    .description-box-nav-box {
        width: auto;
        padding: 10px 20px;
    }

    .description-box-description {
        font-size: 14px;
    }
}