.description-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* max-width: 800px; */
    /* Added max-width to limit the description box width */
    margin-left: auto;
    /* Center align */
    margin-right: auto;
    /* Center align */
    overflow: hidden;
    position: relative;
}

.description-box p {
    font-size: 15px;
    line-height: 1.6;
    margin: 10px 0 0 0;
    color: #555;
    transition: all 0.3s;
}

.show-more {
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;
    display: block;
    text-align: center;
}

.show-more:hover {
    text-decoration: underline;
    /* Added underline on hover */
}

@media (max-width: 1280px) {
    .description-box {
        margin: 15px;
    }

    .description-box p {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .description-box {
        margin: 10px;
        padding: 15px;
    }

    .description-box p {
        font-size: 12px;
    }
}