.order-details {
    margin: auto;
    padding: 30px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.order-details-header {
    text-align: center;
    margin-bottom: 20px;
}

.order-details-list {
    display: grid;
    gap: 20px;
}

.order-details-item {
    border: 1px solid #e2e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-details-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-details-item-products {
    display: grid;
    gap: 20px;
}

.order-details-product {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    align-items: center;
}

.order-details-product-thumbnail img {
    width: 100%;
    max-width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.order-details-product-details {
    display: flex;
    flex-direction: column;
}

.order-details-item-total {
    margin-top: 20px;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .order-details {
        padding: 20px;
    }

    .order-details-item {
        padding: 15px;
    }

    .order-details-item-products {
        gap: 15px;
    }

    .order-details-product {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .order-details {
        padding: 15px;
    }

    .order-details-item {
        padding: 10px;
    }

    .order-details-item-products {
        gap: 10px;
    }
}