/* Container centering */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    /* Adjusted to 100vh for full-screen height */
    width: 100%;
}

/* Add Product Form Styling */
.add-product {
    margin: 20px auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    border-radius: 10px;
    background: white;
    position: relative;
    box-shadow: 0 1px 3px -2px #000;
}

/* Item field styling */
.addproduct-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px;
}

.addproduct-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7c7c7c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.addproduct-itemfield input:focus {
    border-color: #6079ff;
    /* Blue border on focus */
}

/* Selector styling */
.add-product-selector {
    padding: 10px;
    width: 100%;
    max-width: 120px;
    /* Adjusted for better responsiveness */
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}


/* Button styling */
.addproduct-btn {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    display: block;
    margin: 30px auto 0;
}

/* Item field label styling */
.addproduct-itemfield p {
    font-weight: 1000;
    color: black;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .add-product {
        padding: 30px;
    }

    .addproduct-price {
        flex-direction: column;
    }

    .add-product-selector {
        width: 100%;
    }

    .addproduct-btn {
        width: 100%;
    }
}