.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    border-radius: 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 600px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 1000;
}

.nav-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2%;
    object-fit: cover;
    cursor: pointer;
}

.icon-email {
    margin-left: 50%;
    cursor: pointer;

}

.icon-noti {
    cursor: pointer;
    margin-right: 0%;
}