.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;  /* Makes the image round */
}

@media (max-width: 800px) {
    .navbar {
        padding: 15px 30px;
    }

    .nav-logo {
        width: 150px;
    }

    .nav-profile {
        width: 20px;
        height: 20px;
    }
}
