.header {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

@media (max-width: 991px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        /* Center align items on smaller screens */
    }
}

a {
    text-decoration: none;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 32px;
    color: #426b1f;
    font-weight: 500;
    letter-spacing: -0.32px;
}

@media (max-width: 991px) {
    .logo-container {
        justify-content: center;
        margin-bottom: 10px;
        /* Add margin at bottom for spacing */
    }
}

.logo {
    width: 120px;
    aspect-ratio: auto;
    /* object-fit: cover; */
}

.logo-text {
    font-family: 'Newsreader', sans-serif;
}


.header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    justify-content: center;
    gap: 10px;
    width: 100%;
    /* margin-top: 22px; */
    /* padding-top: 25px; */
}

.navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    line-height: 100%;
    width: 100%;
}



@media (max-width: 991px) {
    .navigation {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav-links {
    display: flex;
    gap: 50px;
    /* color: #000; */
    font-weight: 500;
    font-size: 15px;
    list-style: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.nav-item {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.nav-item.active>a {
    font-weight: 700;
    font-size: 20px;
    /* border-bottom: 2px solid #426b1f; */
}

.cart-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-link {
    text-decoration: none;
    color: inherit;
}

.cart-count {
    border-radius: 5px;
    background-color: #426b1f;
    padding: 10px 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

@media (max-width: 991px) {
    .cart-count {
        padding: 10px;
    }
}

.avatar {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid rgba(66, 107, 31, 0.5);
    border-radius: 50%;
}

.menu-link {
    text-decoration: none;
    color: inherit;
}

.login-link {
    text-decoration: none;
    color: inherit;
}

/* Add this to your existing CSS file */
.navigation-container {
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    gap: 20px;
    /* Adjust based on your preference */
    width: 100%;
    /* Take full width */
}

@media (min-width: 992px) {
    .navigation-container {
        flex-direction: row;
        /* Align horizontally on larger screens */
    }
}