/* ListProduct.css */
.list-products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chiều cao toàn màn hình để căn giữa theo chiều dọc */
    background-color: #f5f5f5;
    /* Màu nền tùy chọn */
}

.list-product-table {
    height: 400px;
    width: 80%;
    /* Chiều rộng tùy chọn, có thể điều chỉnh */
    max-width: 1200px;
    /* Để tránh bảng quá lớn trên màn hình rộng */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MuiDataGrid-root {
    border: none;
}

.MuiDataGrid-cell {
    display: flex;
    align-items: center;
}

.MuiDataGrid-columnHeaders {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
}

.MuiDataGrid-row:hover {
    background-color: #f1f1f1;
}

.MuiDataGrid-footerContainer {
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
}