.avatar-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.avatar {
    width: 70px;
    aspect-ratio: 1;
    border: 1px solid rgba(66, 107, 31, 0.5);
    border-radius: 50%;
    object-fit: cover;
}

.button-group {
    display: inline;
}

.upload-button {
    background-color: #426b1f;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}

